diffusers
transformers
scipy
accelerate
torchvision
huggingface_hub
scikit-image
lpips
tensorboard
datasets
timm
peft
accelerate>=0.16.0
torchvision
transformers>=4.25.1
datasets>=2.19.1
ftfy
tensorboard
Jinja2
peft>=0.17.0
#--extra-index-url https://download.pytorch.org/whl/cu113